
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Login</title>
</head>
<body>
    <div class="regContainer">
    <h1>Login TastyTable:</h1>
    <form id = "login" action="/api/users/login" method="POST">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button class="find" type="submit">Login</button>
        
    </form>
    <div class="regAccount">
    <p>Don't have an account yet Register </p>
    <a href="/api/users/register"><button class="find">Register</button></a>
    </div>
</div>
</body>
</html>
