
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Add New Recipe</title>
</head>
<body>
    <h1>Add New Recipe</h1>
    <form id = "new" action="/api/recipes/<%= username %>/newRecipe" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
        <label for="categoryId">Category:</label>
        <input type="text" id="categoryId" name="categoryId" required>
        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea>
        <label for="ingredients">Ingredients:</label>
        <textarea id="ingredients" name="ingredients" required></textarea>
        <label for="instructions">Instructions:</label>
        <textarea id="instructions" name="instructions" required></textarea>
        <input type="hidden" name="username" value="<%= username %>">
        <button class="find" type="submit">Add Recipe</button>
       
    </form>
    <div class="regAccount">
        <p>Return to the Home page</p>
        <a href="/api/recipes/<%= username %>"><button class="find">Home</button></a>
        </div>
</body>
</html>
