
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Register</title>
</head>
<body>
    <div class="regContainer">
    <h1>TastyTable:<br> Register to Explore Delicious Recipes </h1>
    <div class="registerContainer">
    <form id = "register" action="/api/users/register" method="POST">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <button class="find" type="submit">Register</button>
    </form></div>
    <div class="regAccount">
        <p>Already have an account Login</p>
        <a href="/api/users/login"><button class="find">Login</button></a>
        </div>
</div>
</body>
</html>
